.Traveler
{
    position: fixed;
    right: 10px;
    top: 90px;
    z-index: 1;
}

.maleTraveler
{
    float: right;
}

.femaleTraveler
{
    margin-top: 30px;
    position: fixed;
    right: 100px;
}

.card-panel.valign-wrapper
{
    background: rgba(0, 0, 0, 0.863);
    margin-top: 300px;
    height: 185px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.container.welcome
{
    top: 350px;
    left: 58%;
    width: 40%;
    position: absolute;
    color: white;
    font-size: xx-large;
    font-family: Georgia;
    text-align: justify;
    z-index: 3; 
}

.collapsible
{
    top: 130px;
    left: 40px;
    position: absolute;
    z-index: 3;
    width: 700px;
}

.collapsible-header
{   
    font-size: large;
    font-family: Georgia;
    font-weight: bold;
}

.collapsible-body
{
    background-size: cover;
    background-position: center;
}

.splashArt
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.charac_intro
{
    font-weight: 480;
    text-align: justify;
    background: #f5f5f5;
    padding: 10px;
}

.modal
{
    width: 60%;
    height: 100%;
}

#noCharDemo
{
    margin-top: 15%;
    text-align: center;
    width: 30%;
    height: fit-content;
}

.modal-header
{
    background: snow;
    border: white 2px solid;
    margin: -10px;
    color: black;
    font-size: xx-large;
    font-family: Georgia;
    padding-left: 20px;
}

.waves-effect.waves-teal.btn.modal-trigger
{
    width: 150px;
    font-family: Arial;
    font-weight: 550;
    color: black;
    padding: 0px;
    line-height: 15px;
    background-color: rgba(255, 255, 255, 0.855);
}

.info
{
    top: 372px;
    left: 55px;
    position: absolute;
    z-index: 2;
    font-family: Arial;
    font-size: 10px;
    color: white;
    width: 400px;
}

.collection-item
{
    height: 30px;
}